<!DOCTYPE html>
<html ng-app="zoomChartsApp">

  <head>
    <meta charset="utf-8" />
    <title>Zoom Charts</title>
    
    <link rel="stylesheet" href="styles/zc.css" />
  </head>

  <body ng-controller="MainCtrl">

      <a href="projects.html">People and Projects</a>

    <h2>Middlesbrough's Premier League Goal Scorers</h2>

    <div id="pieChart"></div>
    <div id="facetChart"></div>    

    <select ng-model="chosenPlayer">
        <option value="Hamilton Ricard">Hamilton Ricard</option>
        <option value="Juninho">Juninho</option>
        <option value="Mark Viduka">Mark Viduka</option>
        <option value="Yakubu">Yakubu</option>
        <option value="Szilard Nemeth">Szilard Nemeth</option>
        <option value="Alvaro Negredo">Alvaro Negredo</option>
    </select>
    <select ng-model="chosenSeason">
        <option ng-repeat="year in years()" value="{{ year }}">{{ year }}</option>
    </select>
    <button type="button" ng-click="addGoal()">Add Goal</button>

    <hr>

    <h2>Team mates?</h2>

    <div id="netChart"></div>

    <select ng-model="linkPlayer1">
        <option value="Hamilton Ricard">Hamilton Ricard</option>
        <option value="Juninho">Juninho</option>
        <option value="Mark Viduka">Mark Viduka</option>
        <option value="Yakubu">Yakubu</option>
        <option value="Szilard Nemeth">Szilard Nemeth</option>
    </select>
    <select ng-model="linkPlayer2">
        <option value="Hamilton Ricard">Hamilton Ricard</option>
        <option value="Juninho">Juninho</option>
        <option value="Mark Viduka">Mark Viduka</option>
        <option value="Yakubu">Yakubu</option>
        <option value="Szilard Nemeth">Szilard Nemeth</option>
    </select>
    <button type="button" ng-click="linkPlayers()">Link Players</button>

    <hr>

    <h2>When Middlesbrough scored...</h2>
    <h4>(not strictly accurate)</h4>

    <div id="timeChart"></div>

    <script data-require="angular.js@1.5.x" src="https://code.angularjs.org/1.5.8/angular.js" data-semver="1.5.8"></script>
    <script src="scripts/zoomcharts.js"></script>
    
    <script src="scripts/moment.js"></script>
    <script src="scripts/moment-tz.js"></script>
    <script src="scripts/main-ctrl.js"></script>     
  </body>

</html>