<!DOCTYPE html>
<html ng-app="zoomChartsApp">

  <head>
    <meta charset="utf-8" />
    <title>Zoom Charts</title>
    
    <link rel="stylesheet" href="styles/zc.css" />
  </head>

  <body ng-controller="ProjectsCtrl">

    <h2>Projects</h2>

    <h4>Select a project:</h4>
    <select ng-model="chosenProject">
        <option ng-repeat="p in projects" value="{{ p }}">{{ p.name }}</option>
    </select>
    <button type="button" ng-click="selectProject()">Select (Manual Mode)</button>
    <button type="button" ng-click="selectProjectFocusMode()">Select (Focus Mode)</button>

    <div id="netChart"></div>

    <script data-require="angular.js@1.5.x" src="https://code.angularjs.org/1.5.8/angular.js" data-semver="1.5.8"></script>
    <script src="scripts/zoomcharts.js"></script>
    
    <script src="scripts/moment.js"></script>
    <script src="scripts/moment-tz.js"></script>
    <script src="scripts/project-ctrl.js"></script>    
  </body>

</html>